.home-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 300px;
  z-index: 0;
  background: #fff;
}
.home-cover:before {
  content: "";
  position: absolute;
  top: 120px;
  height: 100%;
  left: -50px;
  right: -50px;
  z-index: 1;
  background: #fff;
  filter: blur(35px);
  -webkit-filter: blur(35px);
}
.home-cover > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
.home-cover > button {
  position: absolute;
  top: 16px;
  right: 16px;
  width: auto;
  z-index: 1;
  color: black;
  font-size: 14px;
  height: 32px;
  padding: 0 16px;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 9.6px;
  font-weight: 600;
  backdrop-filter: blur(3px);
  -moz-backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}
.home-cover > button > span:before {
  border-bottom-color: black;
}
.home-cover > button:hover {
  background: rgba(255, 255, 255, 1);
}
