@tailwind base;
@tailwind components;
@tailwind utilities;
@layer mantine, mantine-datatable;

:root {
  --background: ##e5e7eb;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.some-class {
  font-family: var(--fon);
}

.mono-class {
  font-family: var(--font-roboto-mono);
}

body {
  color: var(--foreground);
  background: #f4f7fe !important;
  font-family: Arial, Helvetica, sans-serif;
}

.main-content {
  margin-left: calc(220px + 0rem);
  margin-top: 100px;
  /* padding-left: 30px;
  padding-right: 30px; */
  /* padding: 100px; */
}

.header {
  margin-left: calc(220px + 0rem);
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: white;
  /* background-color: #1e476b; */
  /* background-color: #14141fd9; */
}
.page-main-wrapper,
.data-table {
  width: calc(100vw - 280px) !important;
}

@media only screen and (max-width: 992px) {
  .main-content {
    margin-left: 0px;
    /* padding-left: 10px;
    padding-right: 10px; */
    /* padding: 10px; */
  }
  .header {
    margin-left: 0px;
    /* background: #000; */
  }
  .data-table,
  .page-main-wrapper {
    width: calc(100vw - 20px) !important;
  }
}
.bg-image {
  background-image: url("/assets/auth/rest2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.book-container {
  background-repeat: no-repeat !important;
  width: 100vw;
  height: 40%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.bg-image::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2); /* Black overlay with 70% opacity */
  backdrop-filter: blur(4px); /* Adds a small blur */
  z-index: 1;
}

.bg-image > * {
  position: relative;
  z-index: 2; /* Ensure content is above the overlay */
}

.mantine-modal-header {
  background-color: red !important;
}
